# T√≥pico 1 ‚Äî Localiza√ß√£o e Download do Dataset P√∫blico

### Dataset: **European Soccer Database**

üîó **Link:** [https://www.kaggle.com/datasets/hugomathien/soccer](https://www.kaggle.com/datasets/hugomathien/soccer)

---

## üìÑ Sobre o Dataset

O *European Soccer Database* √© um dos maiores conjuntos de dados p√∫blicos sobre futebol na Europa, contendo informa√ß√µes completas para an√°lises e aplica√ß√µes de machine learning.

### üìä O que est√° inclu√≠do:

* **+25.000** partidas
* **+10.000** jogadores
* **11 pa√≠ses europeus** com suas principais ligas
* Temporadas de **2008 a 2016**
* Atributos de jogadores e times (originados do FIFA e atualizados semanalmente)
* Forma√ß√µes e coordenadas (X,Y) dos jogadores em campo
* Odds de apostas de at√© **10 casas diferentes**
* Eventos detalhados de partidas

  * Tipos de gol
  * Posse de bola
  * Escanteios
  * Cruzamentos
  * Faltas
  * Cart√µes
  * E muito mais
* *(Atualiza√ß√£o de 16/10/2016: nova tabela contendo atributos completos dos times do FIFA)*

## T√≥pico 2 - Importa√ß√£o dos Dados em Python

In [5]:
import sqlite3
import pandas as pd

##Caminho para o arquivo SQLite
db_path = "../DataBase/database.sqlite"

##Conectar ao banco
conn = sqlite3.connect(db_path)

##Listar todas as tabelas
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [8]:
##Ler uma tabela espec√≠fica (exemplo: Times da Premier League)
df_queryResult = pd.read_sql("SELECT DISTINCT team_long_name FROM Team WHERE team_api_id IN (SELECT home_team_api_id FROM Match WHERE league_id = (SELECT id FROM League WHERE name = 'England Premier League') UNION SELECT away_team_api_id FROM Match WHERE league_id = (SELECT id FROM League WHERE name = 'England Premier League'));", conn)

##Mostrar primeiras linhas
df_queryResult.head(50)

             team_long_name
0                   Burnley
1            Leicester City
2              Cardiff City
3                   Chelsea
4           Manchester City
5                Portsmouth
6               Southampton
7                Sunderland
8                 Blackpool
9            Wigan Athletic
10            Middlesbrough
11         Bolton Wanderers
12        Tottenham Hotspur
13  Wolverhampton Wanderers
14                Liverpool
15          West Ham United
16         Blackburn Rovers
17          Birmingham City
18     West Bromwich Albion
19                Hull City
20                  Everton
21              Bournemouth
22                  Reading
23                  Watford
24                  Arsenal
25           Crystal Palace
26             Norwich City
27                   Fulham
28             Swansea City
29      Queens Park Rangers
30               Stoke City
31              Aston Villa
32        Manchester United
33         Newcastle United

## T√≥pico 3 - An√°lise explorat√≥ria dos dados (dimens√µes, tipos, primeiras linhas, estat√≠sticas descritivas).

## T√≥pico 4 - Entendimento e explica√ß√£o dos dados, vari√°veis e contexto do problema.

## T√≥pico 5 - Visualiza√ß√£o dos dados com gr√°ficos apropriados (histogramas, boxplots, dispers√£o, etc.).

## T√≥pico 6 - Tratamento de dados inv√°lidos ou inconsistentes.

## T√≥pico 7 - Tratamento de dados faltantes (remo√ß√£o ou imputa√ß√£o).

## T√≥pico 8 - Sele√ß√£o de atributos relevantes para o modelo.

## T√≥pico 9 - Classifica√ß√£o das vari√°veis (num√©ricas, categ√≥ricas, discretas, cont√≠nuas).

## T√≥pico 10 - Separa√ß√£o entre atributos preditores (X) e vari√°vel-alvo ( y ).

## T√≥pico 11 - Transforma√ß√µes necess√°rias nas colunas (normaliza√ß√£o, codifica√ß√£o, etc.).

## T√≥pico 12 - Padroniza√ß√£o dos dados para modelagem (ex: StandardScaler, MinMaxScaler).

## T√≥pico 13 - Divis√£o dos dados em conjunto de treino e teste.

## T√≥pico 14 - Treinamento de ao menos um modelo de machine learning supervisionado adequado ao problema.

## T√≥pico 15 - Avalia√ß√£o do modelo (ex: acur√°cia, precis√£o, recall, F1-score, matriz de confus√£o).

## T√≥pico 16 - Documenta√ß√£o clara e detalhada do c√≥digo no pr√≥prio notebook (com coment√°rios e c√©lulas explicativas).

## T√≥pico 17 - Cria√ß√£o de uma apresenta√ß√£o resumida em slides (Google Slides, PowerPoint, Canva etc.).

## T√≥pico 18 - Grava√ß√£o de um v√≠deo (m√°x. 10 minutos) com ambos os integrantes explicando o projeto, o c√≥digo e os resultados obtidos.